
DATABASE_URL=mysql://root:@localhost:3306/toscanini_db
# API Key para el servicio de envío de correos (Resend)
RESEND_API_KEY=re_MFA3n18J_GmKmBxhRYfVEzdPydPGzEMgStubf

# Entorno de ejecución: "development" o "production"
APP_ENVIRONMENT=development

# Email para desarrollo (solo se usa en development)
DEV_EMAIL_RECIPIENT=benitez.basti0@gmail.com