# Variables de entorno para SQLx en modo offline
SQLX_OFFLINE=false

DATABASE_URL=mysql://root:@localhost:3306/toscanini_db
# API Key para el servicio de envío de correos (Resend)
RESEND_API_KEY=re_MFA3n18J_GmKmBxhRYfVEzdPydPGzEMgStubf

DB_HOST=0.0.0.0
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=contrasena
DB_DATABASE=nombredeladb

# Entorno de ejecución: "development" o "production"
APP_ENVIRONMENT=development

# Email para desarrollo (solo se usa en development)
DEV_EMAIL_RECIPIENT=benitez.basti0@gmail.com

#Rutas SSL
DB_SSL_CA=.rutadealmacenamiento/server-ca.pem
DB_SSL_CERT=.rutadealmacenamiento/client-cert.pem
DB_SSL_KEY=.rutadealmacenamiento/client-key.pem





# Variables del proyecto
DATABASE_URL=mysql://root:b211974079B.!@34.176.222.113:3306/toscaninidb
RESEND_API_KEY=re_V8DwmGWa_FKebWNfr4eXhktE66f9h7YY8

DB_HOST=34.176.222.113
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=b211974079B.!
DB_DATABASE=toscaninidb

# Entorno de ejecución: "development" o "production"
APP_ENVIRONMENT=development

# Email para desarrollo (solo se usa en development)
DEV_EMAIL_RECIPIENT=benitez.basti0@gmail.com

#Rutas SSL
DB_SSL_CA=./certs/server-ca.pem
DB_SSL_CERT=./certs/client-cert.pem
DB_SSL_KEY=./certs/client-key.pem